In [1]:
import pandas as pd

file_path = '/Users/xinmengwang/Downloads/Billionaires Statistics Dataset.csv'

# Read the dataset into a DataFrame
df = pd.read_csv(file_path)
df = df[['finalWorth','birthYear', 'gender', 'country', 'industries', 'cpi_country', 'cpi_change_country', 'gdp_country', 'gross_tertiary_education_enrollment', 'gross_primary_education_enrollment_country', 'population_country', 'life_expectancy_country']]

In [2]:
df

,finalWorth,birthYear,gender,country,industries,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,population_country,life_expectancy_country
0,211000,1949.0,M,France,Fashion & Retail,110.05,1.1,"$2,715,518,274,227",65.6,102.5,6.705989e+07,82.5
1,180000,1971.0,M,United States,Automotive,117.24,7.5,"$21,427,700,000,000",88.2,101.8,3.282395e+08,78.5
2,114000,1964.0,M,United States,Technology,117.24,7.5,"$21,427,700,000,000",88.2,101.8,3.282395e+08,78.5
3,107000,1944.0,M,United States,Technology,117.24,7.5,"$21,427,700,000,000",88.2,101.8,3.282395e+08,78.5
4,106000,1930.0,M,United States,Finance & Investments,117.24,7.5,"$21,427,700,000,000",88.2,101.8,3.282395e+08,78.5
...,...,...,...,...,...,...,...,...,...,...,...,...
2635,1000,1971.0,M,China,Healthcare,125.08,2.9,"$19,910,000,000,000",50.6,100.2,1.397715e+09,77.0
2636,1000,1943.0,M,United States,Food & Beverage,117.24,7.5,"$21,427,700,000,000",88.2,101.8,3.282395e+08,78.5
2637,1000,1962.0,M,China,Manufacturing,125.08,2.9,"$19,910,000,000,000",50.6,100.2,1.397715e+09,77.0
2638,1000,1951.0,M,China,Real Estate,125.08,2.9,"$19,910,000,000,000",50.6,100.2,1.397715e+09,77.0
2639,1000,1956.0,M,Philippines,Diversified,129.61,2.5,"$376,795,508,680",35.5,107.5,1.081166e+08,71.1

In [3]:
column_data_types = df.dtypes

# Display the data types of each column
print(column_data_types)

finalWorth                                      int64
birthYear                                     float64
gender                                         object
country                                        object
industries                                     object
cpi_country                                   float64
cpi_change_country                            float64
gdp_country                                    object
gross_tertiary_education_enrollment           float64
gross_primary_education_enrollment_country    float64
population_country                            float64
life_expectancy_country                       float64
dtype: object

In [4]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

label_encoder = LabelEncoder()

df['country'] = label_encoder.fit_transform(df['country'])
df['country'] = df['country'].astype(float)

df['industries'] = label_encoder.fit_transform(df['industries'])
df['industries'] = df['industries'].astype(float)

df['gender'] = label_encoder.fit_transform(df['gender'])
df['gender'] = df['gender'].astype(float)

df['finalWorth'] = df['finalWorth'].astype(float)

/Users/xinmengwang/opt/anaconda3/envs/cs613/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/xinmengwang/opt/anaconda3/envs/cs613/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/xinmengwang/opt/anaconda3/envs/cs613/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/xinmengwang/opt/anaconda3/envs/cs613/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/xinmengwang/opt/anaconda3/envs/cs613/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/xinmengwang/opt/anaconda3/envs/cs613/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [5]:
from re import sub
from decimal import Decimal
import numpy as np


df['gdp_country'] = df['gdp_country'].apply(lambda x: np.nan if pd.isnull(x) else Decimal(sub(r'[^\d.]', '', str(x))) if str(x).strip() else np.nan)

In [6]:
import pandas as pd

df['gdp_country'] = pd.to_numeric(df['gdp_country'])
df['population_country'] = pd.to_numeric(df['population_country'])

# Add a new column 'gdp_per_capita' by dividing 'gdp_country' by 'population_country'
df['gdp_per_capita'] = df['gdp_country'] / df['population_country']

In [7]:
column_data_types = df.dtypes

# Display the data types of each column
print(column_data_types)

finalWorth                                    float64
birthYear                                     float64
gender                                        float64
country                                       float64
industries                                    float64
cpi_country                                   float64
cpi_change_country                            float64
gdp_country                                   float64
gross_tertiary_education_enrollment           float64
gross_primary_education_enrollment_country    float64
population_country                            float64
life_expectancy_country                       float64
gdp_per_capita                                float64
dtype: object

In [8]:
df

,finalWorth,birthYear,gender,country,industries,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,population_country,life_expectancy_country,gdp_per_capita
0,211000.0,1949.0,1.0,24.0,4.0,110.05,1.1,2.715518e+12,65.6,102.5,6.705989e+07,82.5,40493.928572
1,180000.0,1971.0,1.0,74.0,0.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
2,114000.0,1964.0,1.0,74.0,16.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
3,107000.0,1944.0,1.0,74.0,16.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
4,106000.0,1930.0,1.0,74.0,5.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,1000.0,1971.0,1.0,16.0,8.0,125.08,2.9,1.991000e+13,50.6,100.2,1.397715e+09,77.0,14244.677921
2636,1000.0,1943.0,1.0,74.0,6.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
2637,1000.0,1962.0,1.0,16.0,10.0,125.08,2.9,1.991000e+13,50.6,100.2,1.397715e+09,77.0,14244.677921
2638,1000.0,1951.0,1.0,16.0,13.0,125.08,2.9,1.991000e+13,50.6,100.2,1.397715e+09,77.0,14244.677921
2639,1000.0,1956.0,1.0,53.0,2.0,129.61,2.5,3.767955e+11,35.5,107.5,1.081166e+08,71.1,3485.084218

In [9]:
import numpy as np

final_worth_values = df['finalWorth']

# Calculate percentiles
percentiles = np.percentile(final_worth_values, [25, 50, 75])

# Display the results
print("25th Percentile (Q1):", percentiles[0])
print("50th Percentile (Median, Q2):", percentiles[1])
print("75th Percentile (Q3):", percentiles[2])

25th Percentile (Q1): 1500.0
50th Percentile (Median, Q2): 2300.0
75th Percentile (Q3): 4200.0

25th Percentile (Q1): 1500.0

50th Percentile (Median, Q2): 2300.0

75th Percentile (Q3): 4200.0

Below 1500.0 - T1

>= 1500.0 $ < 2300.0 - T2

>= 2300.0 $ < 4200.0 - T3

>= 4200.0              - T4

In [10]:
import pandas as pd

# Apply pd.cut and convert to category
df['finalWorth'] = pd.cut(df['finalWorth'],
                          bins=[float('-inf'), 1500.0, 2300.0, 4200.0, float('inf')],
                          labels=['0', '1', '2', '3'],
                          right=False).astype('float')

In [11]:
column_data_types = df.dtypes

# Display the data types of each column
print(column_data_types)

finalWorth                                    float64
birthYear                                     float64
gender                                        float64
country                                       float64
industries                                    float64
cpi_country                                   float64
cpi_change_country                            float64
gdp_country                                   float64
gross_tertiary_education_enrollment           float64
gross_primary_education_enrollment_country    float64
population_country                            float64
life_expectancy_country                       float64
gdp_per_capita                                float64
dtype: object

In [12]:
df

,finalWorth,birthYear,gender,country,industries,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,population_country,life_expectancy_country,gdp_per_capita
0,3.0,1949.0,1.0,24.0,4.0,110.05,1.1,2.715518e+12,65.6,102.5,6.705989e+07,82.5,40493.928572
1,3.0,1971.0,1.0,74.0,0.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
2,3.0,1964.0,1.0,74.0,16.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
3,3.0,1944.0,1.0,74.0,16.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
4,3.0,1930.0,1.0,74.0,5.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,0.0,1971.0,1.0,16.0,8.0,125.08,2.9,1.991000e+13,50.6,100.2,1.397715e+09,77.0,14244.677921
2636,0.0,1943.0,1.0,74.0,6.0,117.24,7.5,2.142770e+13,88.2,101.8,3.282395e+08,78.5,65280.682241
2637,0.0,1962.0,1.0,16.0,10.0,125.08,2.9,1.991000e+13,50.6,100.2,1.397715e+09,77.0,14244.677921
2638,0.0,1951.0,1.0,16.0,13.0,125.08,2.9,1.991000e+13,50.6,100.2,1.397715e+09,77.0,14244.677921
2639,0.0,1956.0,1.0,53.0,2.0,129.61,2.5,3.767955e+11,35.5,107.5,1.081166e+08,71.1,3485.084218

In [13]:
# Check for NaN values in the entire dataset
nan_values = df.isna().sum()

# Print the count of NaN values for each column
print(nan_values)

finalWorth                                      0
birthYear                                      76
gender                                          0
country                                         0
industries                                      0
cpi_country                                   184
cpi_change_country                            184
gdp_country                                   164
gross_tertiary_education_enrollment           182
gross_primary_education_enrollment_country    181
population_country                            164
life_expectancy_country                       182
gdp_per_capita                                164
dtype: int64

In [14]:
df.fillna(df.median(), inplace=True)

# Verify that there are no more NaN values
nan_values_after_fillna = df.isna().sum()
print(nan_values_after_fillna)

finalWorth                                    0
birthYear                                     0
gender                                        0
country                                       0
industries                                    0
cpi_country                                   0
cpi_change_country                            0
gdp_country                                   0
gross_tertiary_education_enrollment           0
gross_primary_education_enrollment_country    0
population_country                            0
life_expectancy_country                       0
gdp_per_capita                                0
dtype: int64

In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split


def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def cost_function(X, y, theta):
    m = len(y)
    h = sigmoid(np.dot(X, theta))
    cost = (-1 / m) * (np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
    return cost

def gradient_descent(X, y, theta, alpha, iterations):
     m = len(y)
     costs = []

     for _ in range(iterations):
         h = sigmoid(np.dot(X, theta))
         gradient = np.dot(X.T, (h - y)) / m
         theta -= alpha * gradient
         cost = cost_function(X, y, theta)
         costs.append(cost)

     return theta, costs

def predict(X, theta):
    probabilities = sigmoid(np.dot(X, theta))
    predictions = np.argmax(probabilities, axis=1)
    return predictions

# Extract features and target variable
X = df.drop('finalWorth', axis=1).values
y = df['finalWorth'].values

# Standardize the features
X = (X - np.mean(X, axis=0)) / np.std(X, axis=0)

# Add a bias term to the features
bias_column = np.ones((X.shape[0], 1))
X = np.concatenate((bias_column, X), axis=1)

# Convert target variable to one-hot encoding
num_classes = 4
y_one_hot = np.eye(num_classes)[y.astype(int)]

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y_one_hot, test_size=1/3, random_state=42)

# Initialize parameters
theta_init = np.zeros((X_train.shape[1], num_classes))

# Hyperparameters
learning_rate = 0.01
num_iterations = 15000

# Train the model
theta_final, costs = gradient_descent(X_train, y_train, theta_init, learning_rate, num_iterations)

# Make predictions on the test set
y_pred = predict(X_test, theta_final)

In [16]:
# Evaluate the model
accuracy = np.mean(y_pred == np.argmax(y_test, axis=1))
print(f'Training Accuracy: {accuracy * 100:.2f}%')

# Make predictions on the training set
y_train_pred = predict(X_train, theta_final)

# Evaluate the model on the training set
training_accuracy = np.mean(y_train_pred == np.argmax(y_train, axis=1))
print(f'Testing Accuracy: {training_accuracy * 100:.2f}%')

Training Accuracy: 30.91%
Testing Accuracy: 31.93%

In [17]:
import numpy as np
from sklearn.metrics import confusion_matrix

# Convert predictions to class labels
y_true_labels = np.argmax(y_test, axis=1)

# Create confusion matrix
conf_matrix = confusion_matrix(y_true_labels, y_pred)

# Print confusion matrix
print("Confusion Matrix:")
print(conf_matrix)

Confusion Matrix:
[[ 95  15  37  58]
 [ 76  20  42  83]
 [ 60  16  48 101]
 [ 65   5  50 109]]

In [18]:
from sklearn.metrics import precision_score, recall_score, f1_score


# Calculate precision, recall, and F1 score
precision = precision_score(np.argmax(y_test, axis=1), y_pred, average='weighted')
recall = recall_score(np.argmax(y_test, axis=1), y_pred, average='weighted')
f1 = f1_score(np.argmax(y_test, axis=1), y_pred, average='weighted')

print(f'Precision: {precision:.2f}')
print(f'Recall: {recall:.2f}')
print(f'F1 Score: {f1:.2f}')

Precision: 0.31
Recall: 0.31
F1 Score: 0.28